<div class="grid">
    <div class="grid-img"> <img
            src={{card.cover.url}} alt="">
    </div>
    <div class="card-content">
        <span>
            <h3>{{card.title}}</h3>
        </span>
        <span class="usuario-log">
            <i class="fa-solid fa-user"></i>
            <p>{{card.author.first_name}}</p>
            <i class="fa-solid fa-calendar-days"></i>
            <p>{{card.created_at|date:"d/m/Y"}} às {{card.created_at|date:"H:i"}} </p>
            <i class="fa-solid fa-bowl-food"></i>
            <p><a href="#">{{card.category.name}}</a></p>
        </span>
        <span>
            <p>{{card.description}} </p>
        </span>
    </div>
    <div class="container-porcoes">
        <span class="infos">
            <span class="preparo">
                <i class="fa-solid fa-stopwatch"></i>
                <p>Preparo</p>
            </span>
            <span class="porcoes">
                <i class="fa-solid fa-percent"></i>
                <p>Porções</p>
            </span>
        </span>
        <span class="info-preparo">
            <span class="time-recipe">
                <p>{{card.preparation_time}} Minutos</p>
            </span>
            <span class="porcoes-recipe">
                <p>{{card.servings}} Porção</p>
            </span>
        </span>
    </div>
    {% if not page_detail %}
        <footer class="footer-card">
            <a href="/receita/3">
                <i class="fa-solid fa-eye"></i>
                <p>Ver mais...</p>
            </a>
        </footer>
    {% endif %}

    {% if page_detail %}
        <div class="preparation-steps">
            <p>{{card.preparation_steps|linebreaks}} </p>
        </div>
    
    {% endif %}
</div>